<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>demo</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
</head>

<body>
  <script src="{{url_for('static', filename='jquery-3.7.0.min.js')}}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='bootstrap.bundle.min.js') }}"></script>
  <div class="container-fluid" style="padding: 0px;">
    <nav class="navbar sticky-top navbar-expand-lg" style="background-color: #4563c6; ">
      <a class="navbar-brand" style="margin: 0 0 0 20px; color: #000000;" href="https://www.mathison.com.tw/">
        <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-book-half"
          viewBox="0 0 16 16">
          <path
            d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
        </svg>MATHISON</a>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/online_course" style="color:#000000; font-size:15px;">課程</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" href="#"
            style="color:rgb(0, 0, 0); font-size:15px;">預設</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">1</a></li>
            <li><a class="dropdown-item" href="#">2</a></li>
          </ul>
        </li> -->
        <!-- <li class="nav-item">
          <a class="nav-link" href="#" style="color:#000000; font-size:15px;">文章</a>
        </li> -->
        {% if session.username %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/logout" style="color:#000000; font-size:15px;">登出</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/login" style="color:#000000; font-size:15px;">登入/註冊</a>
        </li>
        {%endif%}
      </ul>
</div>
    </nav>
  </div>

  <div class="container">
    <h2 class="border-bottom">系列課程</h2>
    {% for i in range(0,length,4)%}

    <div class="row mb-3" style="width: 100%;">
      {% if course_data[i] %}
      <div class="col-3">
        <div class="card" style="width:100%;">
          <img src="../static/{{course_data[i][2]}}" alt="顯示失敗" style="width: 100%; border-radius:10px;cursor:pointer;"
            onclick="submitForm('form{{course_data[i][0]}}')">
          <form id='form{{course_data[i][0]}}' action="/online_course/course_detail" method="post">
            <input type="hidden" name="alink" value={{course_data[i][0]}}>
          </form>
          <div class="card-body">
            <h5 class="card-title text-truncate">{{course_data[i][1]}}</h5>
            <p class="card-text small" style="color: gray;">作者</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if course_data[i+1] %}
      <div class="col-3">
        <div class="card" style="width:100%;">
          <img src="../static/{{course_data[i+1][2]}}" alt="顯示失敗"
            style="width: 100%; border-radius:10px;cursor:pointer;" onclick="submitForm('form{{course_data[i+1][0]}}')">
          <form id='form{{course_data[i+1][0]}}' action="/online_course/course_detail" method="post">
            <input type="hidden" name="alink" value={{course_data[i+1][0]}}>
          </form>
          <div class="card-body">
            <h5 class="card-title text-truncate">{{course_data[i+1][1]}}</h5>
            <p class="card-text small" style="color: gray;">作者</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if course_data[i+2] %}
      <div class="col-3">
        <div class="card" style="width:100%;">
          <img src="../static/{{course_data[i+2][2]}}" alt="顯示失敗"
            style="width: 100%; border-radius:10px;cursor:pointer;" onclick="submitForm('form{{course_data[i+2][0]}}')">
          <form id='form{{course_data[i+2][0]}}' action="/online_course/course_detail" method="post">
            <input type="hidden" name="alink" value={{course_data[i+2][0]}}>
          </form>
          <div class="card-body">
            <h5 class="card-title text-truncate">{{course_data[i+2][1]}}</h5>
            <p class="card-text small" style="color: gray;">作者</p>
          </div>
        </div>
      </div>
      {% endif %}
      {% if course_data[i+3] %}
      <div class="col-3">
        <div class="card" style="width:100%;">
          <img src="../static/{{course_data[i+3][2]}}" alt="顯示失敗"
            style="width: 100%; border-radius:10px;cursor:pointer;" onclick="submitForm('form{{course_data[i+3][0]}}')">
          <form id='form{{course_data[i+3][0]}}' action="/online_course/course_detail" method="post">
            <input type="hidden" name="alink" value={{course_data[i+3][0]}}>
          </form>
          <div class="card-body">
            <h5 class="card-title text-truncate">{{course_data[i+3][1]}}</h5>
            <p class="card-text small" style="color: gray;">作者</p>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
    {% endfor%}
  </div>
</script>
<script type="text/javascript">
    function submitForm(formid){
        document.getElementById(formid).submit();
    }
</script>
</body>

</html>